.nav_box {
    height: 70px;
    width: 100%;
    overflow: hidden; 
}

.nav_box .nav {
    margin-left: 376px;
    padding: 0;
    /* width: 100%; */
    font-size: 22px;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: white;
    margin-top: 0;
}
.nav_box .nav > li {
    list-style: none;
    text-align: center;
    width: 270px;
    height: 70px;
    line-height: 70px;
    float: left;
    background-color: Gainsboro;

}
.nav_box .nav > li:hover {
    background-color: orange;
    border-radius: 3px;
}
.nav_box .nav > li:hover a {
    color: white;
}
.nav_box .nav > li > a {
    color: 	#595757;;
    text-decoration: none;
}
.nav_box > .nav_btn {
    position: fixed;
    top: 10px;
    right: 10px;
}